.main {
  background-color: var(--background-grey);
  height: 100vh;
  padding-top: 100px;
}

.content {
  width: 480px;
  margin: 0 auto;
  padding: 50px;

  @media (max-width: 480px) {
    width: 100%;
    padding: 20px;
  }
}
