/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  // colors
  --background-grey: #fafbfc;
  --accent: #ff4081;
  --accent-secondary: rgba(255, 64, 129, 0.8);

  --white: #ffffff;
  --accent-light: rgba(255, 64, 129, 0.1);
  --light-grey: #535a61;
}
